.roadmap {
  border-bottom: 0.6px solid rgba(255, 255, 255, 0.6);
}

.roadmap h1 {
  font-family: var(--font-secondary);
  font-size: 2.711rem;
  margin: 0;
  padding: 54px 20px 45px;
}

.container-events {
  padding: 50px 10px 99px;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 30.01px;
  padding: 47px 35.2px 46px;
  border: 0.55px solid;
  border-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    )
    1;
}

.event-info > div {
  display: flex;
  justify-content: space-between;
}

.event-info .title {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 2.289rem;
}

.event-info .year {
  font-weight: 700;
}

.event-info.active .year {
  color: rgba(62, 187, 255, 1);
}

.event-info .schedule,
.event-description {
  color: rgba(255, 255, 255, 0.7);
}

.event .arrow-down {
  width: 9px;
  height: 4.5px;
}

.event .arrow-down img,
.container-events img {
  width: 100%;
  height: 100%;
}

.event .badge {
  color: rgba(52, 206, 95, 1);
  background-color: var(--color-black);
  border: 0.46px solid;
  display: inline-block;
  border-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    )
    1;
  padding: 3px 23.1px;
  line-height: 17.52px;
  font-size: 0.949rem;
}

.event .rectangle {
  display: none;
}

.event-info .schedule {
  font-size: 1.196rem;
  margin-top: 9.99px;
}

.event-description {
  font-size: 1.383rem;
  font-weight: 300;
}

.container-events .border-img {
  display: none;
}

.rotated-rectangle {
  display: none;
}

/* Utilities */

/* Media Screen */

@media screen and (min-width: 1050px) {
  .container-events {
    position: relative;
    padding: 131px 86px 0;
    margin-bottom: 223px;
    overflow: hidden;
  }
  .event {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 46px 0;
    position: relative;
  }

  .container-events .border-img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 100px);
  }

  .event > div {
    flex: 1;
  }

  .event-info {
    padding: 0 97px;
  }

  .event .arrow-down {
    display: none;
  }

  .event-info .title {
    font-size: 3.828rem;
  }

  .event-info .schedule {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .event .badge {
    line-height: 29.3px;
    font-size: 1.587rem;
    margin-top: 37px;
  }

  .event .rectangle {
    width: 9.1px;
    height: 9.1px;
    display: inline-block;
  }

  .event-description {
    font-size: 2.5rem;
    padding: 0 92px;
  }

  .rotated-rectangle {
    display: inline-block;
    position: absolute;
    width: 12.07px;
    height: 12.07px;
    bottom: -6.6px;
    left: 50%;
    transform: translateX(-50%);
  }
}
