*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --font-primary: "Neue Montreal", sans-serif;
  --font-secondary: "EXCRATCH", sans-serif;

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

/* header start */
header {
  border-width: 0 0 0.6px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  padding: 25px 19px;
}

.nav-mobile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-desktop {
  display: none;
}

nav .icon-hamburger {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brand-name {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-white);
  margin: 0;
}

nav .logo {
  width: 61.02px;
  height: 38.01px;
}

nav .container-link,
.container-social,
.container-control {
  display: flex;
  align-items: center;
}

nav .container-social {
  gap: 21.4px;
}
nav .container-link {
  gap: 26.88px;
}
nav .container-social {
  gap: 11.46px;
}
nav .container-control {
  gap: 30px;
}

nav .link a,
.container-control button,
.section-hero button,
.section-hero .container-link a,
.section-hero .info p,
footer a {
  font: var(--font-primary);
  padding: 6.49px 27.81px;
  border: 0.43px solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    )
    1;
}

nav .link a {
  text-decoration: none;
  font-size: 1.946rem;
  letter-spacing: 0.23px;
  color: rgba(255, 255, 255, 0.6);
}

.container-control button {
  font-size: 1.609rem;
  color: var(--color-white);
  background-color: transparent;
  line-height: 29.07px;
}

.container-control button .text,
.section-hero .container-link button .text {
  margin-right: 5px;
}

/* header end */

/* Main Section Start */

/* Hero Section */

.section-hero {
  margin: 32px 0 93px;
  background-image: url("/assets/images/space.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0px;
}

.section-hero .logo {
  width: 66px;
  height: 41.11px;
}

.section-hero .brand-name {
  display: none;
  font-size: 4.887rem;
}

.section-hero .description {
  font-size: 3.333rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-hero .part-first {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.section-hero .part-second {
  font-family: var(--font-secondary);
  font-weight: bold;
}

.section-hero .intro,
.section-hero .container-link,
.section-hero > .info {
  padding-left: 22px;
  padding-right: 22px;
}

.section-hero > .info {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 58.91px;
}

.section-hero .container-link {
  display: flex;
  gap: 13.3px;
  margin-top: 56px;
  margin-bottom: 109px;
  padding-top: 0;
  padding-bottom: 0;
}

.section-hero .intro-text {
  display: flex;
  flex-direction: column;
  gap: 23.18px;
  margin-top: 35.37px;
}

.section-hero .container-link button {
  margin-right: 13.3px;
  display: flex;
  gap: 12.66px;
  justify-content: center;
  align-items: center;
}

.section-hero .container-link a,
footer a {
  display: inline-block;
  text-decoration: none;
}

.section-hero .container-link button,
.section-hero .container-link a,
footer a {
  color: var(--color-white);
  background-color: transparent;
  font-size: 1.31rem;
  line-height: 2.418rem;
  padding: 5.27px 27.79px;
  border-width: 0.38px;
}

.section-hero .container-link button,
.section-hero .container-link a {
  background-color: var(--color-black);
}

.section-hero button img {
  width: 6.29px;
  height: 12.16px;
}

.section-hero .info p {
  font-size: 1.229rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);

  padding: 2.68px 16.69px;
  border-width: 0.37px;
}

.rectangle {
  display: inline-block;
  background-color: rgba(52, 206, 95, 1);
  border: none;
  margin-right: 14.9px;
  width: 7.51px;
  height: 7.51px;
}

.data,
.data .data-info {
  display: flex;
}

hr {
  border: 0.4px solid rgba(255, 255, 255, 0.6);
}

.data {
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
  gap: 0;
}

.data-info {
  gap: 21.93px;
  padding: 0 21.55px;
  padding-top: 21.55px;
  padding-bottom: 25.28px;

  flex: 50%;
}

.data-info img {
  margin-top: 4px;
}

.icon-star {
  width: 28.39px;
  height: 28.39px;
}

.icon-meter {
  width: 28.49px;
  height: 22.82px;
}

.icon-graph {
  width: 22.82px;
  height: 22.82px;
}

.icon-toggle {
  width: 30.81px;
  height: 16.43px;
}

.data-info div {
  display: flex;
  flex-direction: column;
  gap: 2.56px;
}

.data-info div p {
  margin: 0;
}

.data-info .value {
  font-size: 2.122rem;
}

.data-info .title {
  font-size: 1.516rem;
  color: rgba(255, 255, 255, 0.6);
}

.border-info-left {
  border-left: 0.52px solid rgba(255, 255, 255, 0.6);
}
.border-info-bottom {
  border-bottom: 0.52px solid rgba(255, 255, 255, 0.6);
}

/* Partner Section */

.info-partners > h2 {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.35px;
  text-align: center;
  font-size: 11.51px;
  margin-top: 0;
  line-height: 9.98px;
  margin-bottom: 33.69px;
  font-weight: 400;
}

.partners {
  padding: 0 22px;
}

.partners > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42.82px;
  overflow-x: auto;
}

.info-partners .partners > div > div {
  min-width: 72px;
  max-width: 72px;
}

.info-partners .partners .logo-dropbox {
  min-width: 100px;
  max-width: 100px;
}

.info-partners div img {
  width: 100%;
}

/* Members Section */

.info-members {
  margin-top: 124.86px;
  margin-bottom: 81.2px;
}

.img-container {
  width: 100%;
  text-align: center;
}

.img-container img {
  max-width: 100%;
}

/* App Overview  */

.app-overview {
  padding: 0 32px;
}

.app-overview > h2 {
  font-weight: 500;
  font-size: 2.907rem;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 7px;
}

.app-overview > div {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "box1 box2"
    "box3 box3"
    "box4 box5";
  column-gap: 12.84px;
  row-gap: 11.61px;
}

.app-overview .img-container img {
  width: 100%;
}

.app-overview .box-1 {
  grid-area: box1;
}

.app-overview .box-2 {
  grid-area: box2;
}

.app-overview .box-3 {
  grid-area: box3;
}

.app-overview .box-4 {
  grid-area: box4;
}

.app-overview .box-5 {
  grid-area: box5;
}

/* Testimonials Section */

.testimonials > h2 {
  font-weight: 500;
  font-size: 2.907rem;
  color: rgba(241, 241, 243, 1);
  text-align: center;
  margin-top: 78.07px;
  margin-bottom: 39px;
}

.img-large {
  display: none;
}

.testimonials img {
  width: 100%;
}

/* Team section */

.team {
  padding: 0 24px;
}

.team > h2 {
  font-size: 2.907rem;
  font-weight: 500;
  margin: 79px 0 24px;
}

.team img {
  width: 100%;
}

/* FAQ Section */

.faq {
  padding: 0 24px 61px 20px;
}

.faq > h2 {
  font-weight: 500;
  margin-top: 104.16px;
  margin-bottom: 28px;
  font-size: 2.907rem;
}

details {
  margin-bottom: 10.1px;
  background-color: var(--color-black);
  border: 0.65px solid rgba(212, 228, 254, 0.19);
  padding: 11.13px;
}

details > p {
  font-size: 1rem;
}

details > summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 20px;

  font-size: 1.132rem;
  line-height: 15.71px;
  color: rgba(252, 253, 255, 0.7);
}

/* Remove default arrow for WebKit browsers */
details > summary::-webkit-details-marker {
  display: none;
}

/* Fixed version with position properties */
details > summary::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  font-weight: 700;
  font-size: 1rem;
}

details[open] > summary::before {
  transform: translateY(-50%) rotate(90deg);
}

.bg-img-container {
  visibility: none;
}

/* Blogs Section */

.blogs {
  padding: 0 24px 173.86px;
}

.blogs h2 {
  font-weight: 500;
  margin-top: 0;
  font-size: 2.907rem;
  margin-bottom: 39px;
}

.blogs-img-container {
  display: flex;
  gap: 9.88px;
  overflow: hidden;
}

.blogs .img-link {
  width: 171px;
  margin-top: 52.61px;
}

.blogs .img-link-desktop {
  display: none;
}

.blogs img {
  width: 100%;
}

.blogs-img-container > div {
  flex: 1 0 161px;
}

.img-blog-nav {
  display: none;
}

/* Main Section End */

/* Footer Section */

footer {
  border-top: 0.51px solid rgba(255, 255, 255, 0.4);
  padding-top: 39px;
  padding-left: 28px;
  padding-right: 21.32px;
  position: relative;
  overflow: hidden;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer .brand-info {
  flex: 4;
}

footer .logo {
  width: 46.9px;
  height: 29.22px;
}

footer .brand-name {
  margin-top: 16.81px;
  margin-bottom: 14.38px;
  color: rgba(255, 255, 255, 0.72);
  font-weight: 500;
  font-size: 2.086rem;
  line-height: 21.57px;
}

footer .intro {
  font-size: 1.348rem;
}

footer a {
  font-size: 1.016rem;
  line-height: 18.76px;
}

footer .link-join {
  background-color: var(--color-black);
  margin-top: 28.92px;
}

footer .mobile-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
  flex: 1.2;
}

footer .mobile-links a {
  border-width: 0.23px;
  padding: 3.46px 17.79px;
  text-align: center;
  flex: 0 0 auto;
}

footer .circle {
  margin: 0 auto;
  width: 65%;
  height: 209.34px;
  border-radius: 50%;
  background-color: rgba(70, 70, 70, 1);
  filter: blur(35px);
}

footer .overlap-circle {
  width: 117%;
  height: 300px;
  background: var(--color-black);
  border-radius: 50%;
  position: absolute;
  bottom: -150px;
  left: -60px;
  right: 0;
  box-shadow: 0 0 8px 9px rgba(255, 255, 255, 0.6);
}

.desktop-links {
  display: none;
}

.info-copyright {
  display: none;
}

/* Footer Section End */

/* Utilities */
.m-0 {
  margin: 0;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-3 {
  opacity: 0.3;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (min-width: 395px) {
  .img-small {
    display: none;
  }
  .img-large {
    display: block;
  }
}

@media screen and (min-width: 1050px) {
  header {
    padding: 23.99px 51px 23.99px 83.99px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-between;
  }

  .section-hero {
    margin: 106px 0 187px;
  }

  .section-hero .logo {
    width: 109.87px;
    height: 68.44px;
  }

  .section-hero .brand-name {
    display: block;
  }

  .section-hero .description {
    font-size: 5.964rem;
    font-size: 3.333rem;
    display: block;
  }

  .section-hero .container-link {
    margin-top: 79.74px;
    margin-bottom: 106.02px;
    gap: 17.88px;
  }

  .section-hero > .info {
    margin-bottom: 62px;
  }

  .data {
    flex-wrap: nowrap;
    gap: 40px;
    width: 70%;
  }

  .section-hero .intro,
  .section-hero .container-link,
  .section-hero > .info {
    padding: 23.99px 51px 23.99px 83.99px;
  }

  .section-hero .container-link button,
  .section-hero .container-link a {
    font-size: 1.918rem;
    padding: 7.72px 40.68px;
    line-height: 35.4px;
    border-width: 0.55px;
  }

  .section-hero .info p {
    font-size: 1.836rem;
    padding: 4px 26px;
    border-width: 0.55px;
  }

  .rectangle {
    width: 11px;
    height: 11px;
  }

  .data-info .value {
    font-size: 2.325rem;
  }

  .data-info .title {
    font-size: 1.661rem;
  }

  .data-info img {
    width: 31.12px;
    height: 26px;
  }

  .border-info-bottom {
    border-bottom: none;
  }

  .icon-star {
    width: 31.11px;
    height: 31.11px;
  }

  .icon-meter {
    width: 31.22px;
    height: 25.01px;
  }

  .icon-graph {
    width: 25.01px;
    height: 25.01px;
  }

  .icon-toggle {
    width: 33.76px;
    height: 18px;
  }

  .info-partners > h2 {
    line-height: 27.75px;
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 93.51px;
  }

  .info-partners .partners > div > div {
    min-width: 161px;
    max-width: 161px;
  }

  .info-partners .partners .logo-dropbox {
    min-width: 200px;
    max-width: 200px;
  }

  .info-members {
    margin-top: 289px;
    margin-bottom: 310px;
  }

  .app-overview {
    padding: 0 89px;
  }

  .app-overview > h2 {
    font-size: 6.338rem;
    margin-bottom: 50px;
    padding: 0;
  }

  .app-overview > div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "box1 box3 box3"
      "box5 box4 box2";
    column-gap: 20.81px;
    row-gap: 28px;
    padding-left: 94px;
    padding-right: 86px;
  }

  .testimonials > h2 {
    font-size: 5.263rem;
    line-height: 54.6px;
    letter-spacing: -0.55px;
    margin-top: 364px;
    margin-bottom: 108.82px;
  }

  .team {
    padding: 0 93px 0 97px;
  }

  .team > h2 {
    font-size: 6.338rem;
    margin: 364px 0 34px;
  }

  .faq {
    padding: 0 164.71px 127.82px 113px;
  }

  .faq > h2 {
    font-size: 4.152rem;
    line-height: 56.82px;
    letter-spacing: -0.5px;
    margin-top: 319.52px;
    margin-bottom: 39.15px;
  }

  details {
    padding: 20.34px;
  }

  details > summary {
    font-size: 2.1rem;
    line-height: 29.14px;
  }

  details > summary::before {
    font-size: 1.5rem;
  }

  details > p {
    font-size: 1.8rem;
  }

  .bg-img-container {
    visibility: visible;
    position: relative;
    z-index: 1;
  }

  .bg-img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/bg-image.png");
    background-size: cover;
    background-position: 20%;
    opacity: 0.7;
    z-index: -1;
  }

  .blogs {
    padding: 176px 144px 132px;
  }

  .blogs-img-container {
    gap: 24px;
  }

  .blogs h2 {
    font-size: 4.33rem;
    line-height: 52.8px;
    letter-spacing: -0.96px;
    margin-bottom: 80px;
  }

  .blogs .header {
    display: flex;
    justify-content: space-between;
  }

  .img-blog-nav {
    display: block;
    width: 519.5px;
  }

  .blogs .img-link {
    display: none;
  }

  .blogs .img-link-desktop {
    display: block;
    margin-top: 68.2px;
  }

  footer {
    padding-left: 98px;
    padding-right: 138.05px;
    padding-top: 60px;
  }

  footer .brand-info {
    flex: 2;
  }

  footer .logo {
    width: 78.98px;
    height: 49.2px;
  }

  footer .brand-name {
    font-size: 3.513rem;
    line-height: 1;
    margin-top: 28.33px;
    margin-bottom: 24.22px;
  }

  footer .link-join {
    font-size: 1.711rem;
    line-height: 31.59px;
    font-weight: 500;
    margin-top: 48.71px;
  }

  footer .mobile-links {
    display: none;
  }

  .desktop-links {
    display: flex;
    flex: 3;
  }

  .desktop-links p {
    font-weight: 700;
    font-size: 2.27rem;
    line-height: 36.32px;
  }

  .desktop-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .desktop-links a,
  .desktop-links p {
    margin-bottom: 24.39px;
  }

  .desktop-links a {
    font-size: 2.119rem;
    line-height: 36.32px;
    color: rgba(169, 169, 169, 1);
    border: none;
    padding: 0;
  }

  .info-copyright {
    display: block;
    font-size: 1.968rem;
    line-height: 36.32px;
    color: rgba(169, 169, 169, 1);
    margin-top: 50.28px;
  }
}

@media screen and (min-width: 1700px) {
  .section-hero {
    background-position: center top -250px;
  }
}
