*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --font-primary: "Neue Montreal", sans-serif;
  --font-secondary: "EXCRATCH", sans-serif;

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
}

body {
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
}

/* header start */
header {
  border-bottom: 0.6px;
  border-style: solid;
  border-color: var(--color-white);
  padding: 25px 19px;
}

.nav-mobile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-desktop {
  display: none;
}

nav .icon-hamburger {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav .brand-name {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-white);
  margin: 0;
}

nav .logo {
  width: 61.02px;
  height: 38.01px;
}

nav .container-link,
.container-social,
.container-control {
  display: flex;
  align-items: center;
}

nav .container-social {
  gap: 21.4px;
}
nav .container-link {
  gap: 26.88px;
}
nav .container-social {
  gap: 11.46px;
}
nav .container-control {
  gap: 30px;
}

nav .link,
.container-control button {
  font: var(--font-primary);
  padding: 6.49px 27.81px;
  border: 0.43px solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    )
    1;
}

nav .link {
  font-size: 1.946rem;
  letter-spacing: 0.23px;
  color: rgba(255, 255, 255, 0.6);
}

.container-control button {
  font-size: 1.609rem;
  color: var(--color-white);
  background-color: transparent;
}

.container-control button .text {
  margin-right: 5px;
}

/* header end */

@media screen and (min-width: 1000px) {
  header {
    padding: 23.99px 51px 23.99px 83.99px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-between;
  }
}
